<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Person: <%= ID %></h1>
        <h2>Mensaje: <%= message %></h2>

        <% switch (message) { <!--Switch en donde se recibirá lo que hay en message y se comparará con las opciones que contiene el mismo-->
            case 'Bienvenido' : %>
            <% for(let i = 1; i <= times; i++) { %> <!--Ciclo para determinar hasta dónde detenerse segun el elemento enviado-->

                <li><%= message %> <%= ID %></li> <!--Imprime el mensaje  y el nombre formando la oracion del saludo en el html-->

            <% } %>
                    <% break;
            
            case 'Hola' : %>
            <% for(let i = 1; i <= times; i++) { %> <!--Ciclo para determinar hasta dónde detenerse segun el elemento enviado-->

                <li><%= message %> <%= ID %></li> <!--Imprime el mensaje  y el nombre formando la oracion del saludo en el html-->

            <% } %>
                    <% break;
            
            case 'Adios' : %>
            <% for(let i = 1; i <= times; i++) { %> <!--Ciclo para determinar hasta dónde detenerse segun el elemento enviado-->

                <li><%= message %> <%= ID %></li> <!--Imprime el mensaje  y el nombre formando la oracion del saludo en el html-->

            <% } %>
                    <% break;
            default: %>
            <h2><%= ID %> el mensaje <%= message %> no existe. Solo se cuentan con 3 saludos: Hola, Bienvenido y Adios</h2> <!--En caso de no coincidir con las palabras clave, se presenta el texto-->
                    <% break;
            } %>
        
        
    </body>
</html>